html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

header {
  color: #cc796c;
}

body {
  background-image: url(https://images.unsplash.com/photo-1587115508501-2628609cbea6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-color: #b4cc6c;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: auto;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color:whitesmoke;
  text-align: center;
  font-size: larger;
  padding-bottom: 3em;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  margin: auto;
  color: #cc796c;
}

h1 {
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

h3 {
  color: #846ccc;
  margin-bottom: 2rem;
}

.stylistLink {
  color:#846ccc;
  text-decoration: none;
}

.stylistLink a {
  color:#846ccc;
  text-decoration: none;
}

.stylistLink a:hover {
  text-transform: uppercase;
  text-decoration: underline;
}

.bodyLink a{
  background-color: #cc796c;
  color: #b4cc6c;
  border-radius: 50%;
  text-decoration: none;
  padding: .5rem;
  font-size: larger;
  display: inline-block;
  padding: 0.5rem;
}

.bodyLink a:hover {
  border:#cc796c .5rem solid;
  color: #846ccc;
  background-color: #b4cc6c;
  text-decoration: underline;
}

input {
  margin-left: .2rem;
  display: block;
  margin-bottom: 1rem;
  background-color: #846ccc;
  color: whitesmoke;
  font-weight: bolder;
}

label {
  color: #846ccc;
  margin-bottom: .5rem;
  font-weight: bolder;
  font-size: larger;
}

button {
  background-color: #846ccc;
  color: whitesmoke;
}

p {
  margin-bottom: 1rem;
  font-size: large;
  color: #846ccc;
}

a {
  color: #846ccc;
  margin-left: 2rem;
  margin-top: auto;
}

li.nav-item {
  height: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}

li {
  margin-bottom: 1rem;
  font-size: large;
}

