@{
  Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Stylists and Clients Manager</h1>
    <p class="bodyLink">@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
    <p class="bodyLink">@Html.ActionLink("See all clients", "Index", "Clients")</p> 
</div>
